@font-face {
    font-family: 'One Day';
    src: url('./ONEDAY.ttf') format('truetype');
}

@font-face {
    font-family: 'kayak';
    src: url('./Kayak\ Sans\ Light.otf') format('truetype');
}

@font-face {
    font-family: 'azonix';
    src: url('./Azonix.otf') format('opentype');
}

@font-face {
    font-family: 'titty';
    src: url('./TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'league';
    src: url('./LeagueSpartan-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'montserrat';
    src: url('./Montserrat-VariableFont_wght.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: #FFFFFA;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.nav-main {
    max-width: 1296px;
    height: 100%;
    width: 100%;
    padding: 20px 24px;
    box-sizing: border-box;
}

.intro {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.3);

}




.intro-main {
    z-index: 999;
    max-width: 1296px;
    height: 100%;
    width: 100%;
    padding: 20px 24px;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'titty', sans-serif;
    font-weight: 800;
}


.icon img {
    height: 50px;
}

.sections ul {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding-left: 0;
}

.sections ul li {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}



.introduction {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-family: sans-serif;
}

.intro-flex {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.hero-line {
    /* width: 70%; */
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-line p {
    margin: 10px;
}

.my-name {
    font-size: 64px;
    font-family: 'One Day', sans-serif;
    word-wrap: unset;
    color: white;
    -webkit-text-stroke: 2px black;
}



.full-stack {
    font-size: 56px;
    font-family: 'league', sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, #6E07F3, #4B0082, #6E07F3);
    background-size: 200% auto;
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    animation: flowing-water 3s linear infinite;
}

@keyframes flowing-water {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -200% 0%;
    }
}

.greet {
    font-family: 'azonix', sans-serif;
    color: #6E07F3;
}

.my-profile-pic {
    display: flex;
    justify-content: end;
    align-items: center;
}

.my-profile-pic img {
    max-width: 250px;
    box-sizing: border-box;
    border-radius: 20px;
}

.about {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #6E07F3;
    padding: 20px 0px;
}

.about-main {
    max-width: 960px;
    width: 100%;
    padding: 20px 24px;
    box-sizing: border-box;
    text-align: center;
}

.about-words {
    font-family: 'kayak', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.about h1 {
    margin: 0;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'league', sans-serif;
    color: black;
}

.coder {
    font-family: 'azonix', sans-serif;
    font-weight: 400;
    display: inline-block;
    animation: enlargeScale 2s ease-in-out infinite;
}

@keyframes enlargeScale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}


.about-data {
    display: flex;
    position: relative;
    gap: 10px;
}


.about-words p {
    margin: 0;
    font-size: 20px;
    color: white;
}

.space{
    height: 200px;
    width: 100%;
}

.selected {
    background-color: #4169E1;
    color: #FFFFFA;
    transition: 0.3s ease-in-out;
}


.skill-set {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.skill-menu {
    display: flex;
    font-size: 20px;
    gap: 20px;
    font-family: 'kayak', sans-serif;
}


.skills {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -150px;
}

.skills-main {
    max-width: 768px;
    border: 2px solid black;
    width: 100%;
    padding: 20px 24px;
    box-sizing: border-box;
    background-color: #FFFFFA;
    border-radius: 20px;
}

.skills h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: sans-serif;
    color: black;
}

.frontend-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: center;
}

.others-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: center;
}

.backend-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: center;
}

#frontend,
#backend,
#others {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}



.skill-card-item {
    font-family: 'kayak', sans-serif;
    padding: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: scale 0.3s ease-in-out;
}

.skill-card-item:hover {
    scale: 1.1;
}

.skill-card p {
    margin: 0;
}

.skill-card-item img {
    width: 60%;
}

.project {
    margin-top: -100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.project-main {
    max-width: 1296px;
    width: 100%;
    padding: 20px 24px;
    box-sizing: border-box;
}

.project h1 {
    margin: 0;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'league', sans-serif;
    color: black;
}


.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    scrollbar-width: none;
    margin-bottom: 10px;
}

.project-card-item {
    position: relative;
    font-family: 'montserrat', sans-serif;
    background-color: lightgray;
    width: 100%;
    aspect-ratio: 1.5 / 1;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.project-name {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 888;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-card-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.layer {

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 777;
    border-radius: 12px;
}

.project-details h5 {
    padding: 20px;
}

.project-details {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 16px;
    font-weight: 200;
    background-color: hsl(232, 53%, 25%);
    padding: 10px;
    box-sizing: border-box;
}

.project-card-item:hover .project-details {
    display: flex;
}

.link-button {
    border: 2px solid rgb(110, 7, 243);
    outline: none;
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font-family: 'kayak', sans-serif;
}

.link-button:hover {
    background-color: rgb(110, 7, 243);
}

.contact-me {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #6E07F3;
    margin-top: 50px;
}

.contact-me-main {
    max-width: 1296px;
    width: 100%;
    padding: 20px 24px;
    box-sizing: border-box;
}

.contact-info{
    display: flex;
    justify-content: space-between;
    font-family: 'montserrat', sans-serif;
    color: white;
    gap: 50px;
}

.imp-links a {
    text-decoration: none; 
    color: inherit; 
}

.imp-links ul {
    list-style-type: none; 
    padding: 0; 
    margin-left: 0; 
}

.imp-links ul li {
    margin-bottom: 5px;
}

.p-line{
    height: 3px;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
}

.end-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.c-icons{
    padding: 10px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.c-icons a{
    height: 20px;
    width: 20px;
}

.start-project{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;   
}

.start-project-main{
    top: -20px;
    border: 2px solid black;
    width: auto;
    padding: 20px 24px;
    box-sizing: border-box;
    background-color: rgb(18, 18, 72);
    border-radius: 20px;
    position: relative;
    margin: 0px 10px;
    display: flex;
    gap:50px;
    align-items: center;
    color: white;
    text-align: center;
}

.start-project-main h3, .start-project-main p{
    margin: 0px;
}

.start-project-main h3{
    font-family: 'league', sans-serif;
}

.start-project-main p{
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
}

.start-project-main button{
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid greenyellow;
    background-color: rgb(18, 18, 72);
    cursor: pointer;
    transition: 0.3s smooth;
}

.start-project-main button:hover{
    scale:1.05;
}

@media screen and (max-width:1296px) {

    .frontend-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .backend-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .others-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width:960px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px) {


    .my-name {
        font-size: 48px;
    }

    .full-stack {
        font-size: 48px;
    }

    .sections ul {
        gap: 30px;
    }

    .start-project-main{
        flex-direction: column;
        gap:20px;
    }
    .contact-info{
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap:0;
    }
}

@media screen and (max-width:600px) {
    .frontend-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .backend-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .others-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .about-words {
        font-size: 20px;
    }

    .intro-flex {
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
    }

    .my-profile-pic {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .my-profile-pic img {
        width: 50%;
    }



    .hero-line {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-line .content {
        width: 90%;
    }

    .project-card-item {
        min-width: 100%;
    }

    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }
}



@media screen and (max-width:450px) {
    .intro {
        padding: 0px;
    }

    .frontend-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .backend-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .others-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .skill-card-item {
        font-size: 12px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .sections {
        width: 90%;
    }

    .nav-main {
        padding: 10px 20px;
    }

    .sections ul {
        width: 100%;
        justify-content: space-between;
    }

    .about-words {
        font-size: 16px;
    }


    .contact-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .hero-line {
        font-size: 30px;
    }

    .greet {
        font-size: 23px;
    }

    .my-name {
        font-size: 38px;
        -webkit-text-stroke: 1.5px black;
    }

    .full-stack {
        font-size: 21px;
    }
}

@media screen and (max-width:600px) and (min-width:450px) {
    .full-stack {
        font-size: 30px;
    }
}